<div class="row">

    <div class="span4">
        <div class="well">

            <h2>Contacts</h2>

            <form class="form-search">
                <div class="input-append">
                    <!-- <input type="text" ng-model="search.lastName" class="input-medium search-query"> -->
                    <input type="text" ng-model="search" class="input-medium search-query">
                    <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
                </div>
            </form>
        <!--
            <div ng-show="search">Search for: {{search.lastName}}</div>
            <div ng-show="search">Search for: <span ng-bind="search.lastName"/></div>
        -->
            <div ng-show="search">
                <ng-pluralize
                    count="contactsFilter.length"
                    when="  {
                                '0'     : 'Aucun contact',
                                '1'     : 'Un contact',
                                '##other' : '{} contacts, pour {{search.lastName}}',
                                'other' : '{} contacts, pour {{search}}'
                            }">
                </ng-pluralize>
            </div>

            <ul class="unstyled">
            <!--
                <li><a href="">ANDRE Nicolas </a></li>
                <li><a href="">AZOURY Carl </a></li>
                <li><a href="">CROISIER Olivier</a></li>
                <li><a href="">DELVAUX Laurent </a></li>
                <li><a href="">HUBER Olivier </a></li>
            -->
                <li ng-repeat="contact in contactsFilter =(contacts | filter:nameFilter | orderBy:'lastName')">
                    <a href="#/edit/{{contact.id}}">
                        <span   data-ng-bind="contact.firstName"/>Nicolas</span> <span 
                                data-ng-bind="contact.lastName |uppercase">ANDRE
                        </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="span8">
        <div class="row">
        <!--
            <div class="contact-card span4">
                <div class="contact-card-inner">
                    <h4>ANDRE Nicolas</h4>
                    <div class="contact-address">7 impasse Taga, Londres</div>
                    <div class="contact-phone">01 90 00 09 00</div>
                </div>
            </div>
            <div class="contact-card span4">
                <div class="contact-card-inner">
                    <h4>AZOURY Carl</h4>
                    <div class="contact-address">22 impasse Toral, Marseille</div>
                    <div class="contact-phone">01 81 98 00 85</div>
                </div>
            </div>
            <div class="contact-card span4">
                <div class="contact-card-inner">
                    <h4>CROISIER Olivier</h4>
                    <div class="contact-address">1 rue Barbe, Bordeaux</div>
                    <div class="contact-phone">05 55 42 42 42</div>
                </div>
            </div>
            <div class="contact-card span4">
                <div class="contact-card-inner">
                    <h4>DELVAUX Laurent</h4>
                    <div class="contact-address">404 avenue Cominver, Mikonos</div>
                    <div class="contact-phone">01 40 50 60 00</div>
                </div>
            </div>
            <div class="contact-card span4">
                <div class="contact-card-inner">
                    <h4>HUBER Olivier</h4>
                    <div class="contact-address">42 rue Pestre, Paris</div>
                    <div class="contact-phone">01 45 56 67 78</div>
                </div>
            </div>
        -->
            <div class="contact-card span4" ng-repeat="contact in contactsFilter">
                <div class="contact-card-inner">
                    <h4>{{contact.lastName | uppercase}} {{contact.firstName}}</h4>
                    <div class="contact-address">{{contact.address}}</div>
                    <div class="contact-phone">{{contact.phone}}</div>
                </div>
            </div>

        </div>
    </div>
</div>
